@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #fff;
  --bg: #0d0c22;
}

body {
  background: var(--bg);
  color: var(--text);
}
.sidebar_bg {
  background: #001529;
  width: 165px;
}
.sidebar_bg_after {
  width: 0;
  height: 0px;
}
.main_layout {
  width: calc(100% - 165px);
  margin: 0 auto;
}
.sidebar_bg_after .menu_item {
  transform: translate(-200px);
}
